# Dependencies
node_modules/

# Package manager files
.pnpm-store/

# Build outputs
dist/
build/
.vercel/

# Environment files
.env
.env.local
.env.production

# Editor files
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
